*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #080808;
    font-family: "Josefin Sans", sans-serif;
    color: #dadada;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .sub-loader {
    position: relative;
    height: 65px;
    width: 65px;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.loader .sub-loader::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    background-color: #ff382a;
    -webkit-filter: blur(60px);
    filter: blur(20px);
}

.loader .sub-loader::after {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    bottom: 0;
    right: 0;
    background-color: #f5a83d;
    -webkit-filter: blur(60px);
    filter: blur(20px);
}

.mouse-circul {
    height: 25px;
    width: 25px;
    background-color: #f5a83d;
    mix-blend-mode: difference;
    position: fixed;
    top: -200px;
    left: -200px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;
    z-index: 1000;
}

.mouse-circul .arrow {
    rotate: 45deg;
    display: none;
}

.mouse-circul.arrow .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    scale: 2.5;
    font-weight: 800;
    position: fixed;
    left: 29%;
    top: 53.5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    cursor: none;
    z-index: 10;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 64px;
    background: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 56, 42, .4)), color-stop(25%, rgba(255, 255, 255, 0.25)), color-stop(55%, rgba(255, 255, 255, 0.25)), to(rgba(245, 168, 61, .5)));
    background: -o-linear-gradient(left, rgba(255, 56, 42, .4) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.25) 55%, rgba(245, 168, 61, .5) 100%);
    background: linear-gradient(90deg, rgba(255, 56, 42, .4) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.25) 55%, rgba(245, 168, 61, .5) 100%);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-top: none;
    border-radius: 0 0 20px 20px;
    z-index: 9;
}

.nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.nav .nav-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    border-radius: 15px 0 0 15px;
    opacity: 1;
    scale: 1;
}

.nav .nav-links li {
    list-style: none;
}

.nav .nav-links li a {
    text-decoration: none;
    color: #dadada;
    font-weight: 300;
}

.nav .nav-links li a:hover {
    color: #f5a83d;
}

.nav .menu-btn {
    --button-color: #000;
    display: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    z-index: 1;
}

.nav .menu-btn .hamburger {
    -webkit-transition: translate 1s, rotate 1s;
    -o-transition: translate 1s, rotate 1s;
    transition: translate 1s, rotate 1s;
}

.nav .menu-btn[aria-expanded="true"] .hamburger {
    rotate: 0.125turn;
}

.nav .menu-btn .line {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}

.nav .menu-btn[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}

.red {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #ff382a;
    -webkit-filter: blur(60px);
    filter: blur(60px);
}

.yellow {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #f5a83d;
    -webkit-filter: blur(60px);
    filter: blur(60px);
}

#home {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#home .hero-text {
    width: 50%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4rem;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#home .hero-text .logo-space {
    font-size: 6rem;
    color: transparent;
}

#home .hero-text .logo-space span {
    color: #dadada;
    font-size: 1.3rem;
}

#home .hero-text .bg-dotes {
    z-index: -1;
    position: absolute;
    height: 250px;
    width: 45%;
}

#home .hero-text .bg-dotes .red {
    right: 0;
    top: 0;
}

#home .hero-text .bg-dotes .yellow {
    left: 0;
    bottom: 0;
}

#home .hero-img {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#home .hero-img img {
    width: 75%;
    -webkit-filter: drop-shadow(0 0 30px rgb(51, 10, 202));
    filter: drop-shadow(0 0 30px rgb(51, 10, 202));
    border-radius: 38%;
    -webkit-animation: rotate-img 25s linear infinite;
    animation: rotate-img 25s linear infinite;
}

@-webkit-keyframes rotate-img {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes rotate-img {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

#skills {
    width: 100%;
    padding: 100px 0;
}

#skills .svgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-left: none;
    border-right: none;
}

#skills h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

#skills .svgs .svg {
    height: 60px;
    cursor: none;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    scale: 0.7;
}

#about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#about .img {
    width: 40%;
    height: 100%;
    padding: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

#about .img img {
    max-width: 320px;
    border-radius: 20px;
    scale: 0.5;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}

#about .img .bg-color {
    position: absolute;
    height: 600px;
    width: 400px;
    z-index: -1;
}

#about .img .bg-color .red {
    top: 0;
    left: 0;
}

#about .img .bg-color .yellow {
    bottom: 0;
    right: 0;
}

#about .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2.5rem;
    width: 60%;
    height: 100%;
    gap: 15px;
}

#about .info p {
    font-size: 1.2rem;
    line-height: 0;
    font-weight: 300;
}

#about .info h2 {
    font-size: 2.8rem;
}

#work {
    width: 100%;
    margin-top: 60px;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#work .title {
    height: 100%;
    width: 100%;
}

#work .title h1 {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#work .pro {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

#work .pro .project {
    position: relative;
    max-width: 470px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 350px;
    flex: 1 0 350px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    -webkit-transform: translatey(200px);
    -ms-transform: translatey(200px);
    transform: translatey(200px);
    opacity: 0;
    scale: .8;
    cursor: none;
}

#work .pro .project img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

#work .pro .project h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    color: #000;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

#work .pro .project.light h3 {
    color: #dadada;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#contact {
    padding: 2rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#contact .text {
    position: relative;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-self: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
}

#contact .text .bg-circul {
    position: absolute;
    height: 250px;
    width: 280px;
    z-index: -1;
    -webkit-animation: rotate-img 20s linear infinite;
    animation: rotate-img 20s linear infinite;
}

#contact .text .bg-circul .red {
    top: 0;
    left: 0;
}

#contact .text .bg-circul .yellow {
    bottom: 0;
    right: 0;
}

#contact .text .ids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

#contact .text .ids p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
}

#contact .form {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px;
    padding: 2rem;
}

#contact .form h2 {
    font-size: 3rem;
    color: #dadada;
}

#contact .form .label {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
    font-size: .65rem;
    transition: all .3s ease-out;
}

#contact .form .label>.label-title {
    border: 1px solid rgba(255, 124, 42, 0.9);
    color: rgba(255, 124, 42, 0.9);
    box-shadow: 0 2px 2px rgba(120, 120, 120, .25);
    padding: .25em .5em;
    background-color: rgba(80, 80, 80, 0.1);
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    position: relative;
    border-radius: 4px;
    translate: 10px -10px;
    transition: all .5s ease-out .5s;
    z-index: 10;
}

#contact .form .label:focus input,
#contact .form .label:focus-within input {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    color: rgba(255, 124, 42, 0.9);
    border: 2px solid rgba(255, 124, 42, 0.9);
    outline: 2px solid rgba(255, 124, 42, 0.9);
    outline-offset: -2px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(255, 56, 42, .25), 0 -5px 20px rgba(245, 168, 61, .1);
    scale: 1.10;
    transition: all .5s cubic-bezier(0, 1.46, 1, 1.62) .3s;
}

#contact .form .label:focus textarea,
#contact .form .label:focus-within textarea {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    color: rgba(255, 124, 42, 0.9);
    border: 2px solid rgba(255, 124, 42, 0.9);
    outline: 2px solid rgba(255, 124, 42, 0.9);
    outline-offset: -2px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(255, 56, 42, .25), 0 -5px 20px rgba(245, 168, 61, .1);
    scale: 1.05;
    transition: all .5s cubic-bezier(0, 1.46, 1, 1.62) .3s;
}

#contact .form .label:focus,
#contact .form .label:focus-within .label-title {
    translate: 10px -20px;
    border-radius: 4px 4px 0 0;
    z-index: 0;
    transition: all .3s cubic-bezier(0, 1.46, 1, 1.62);
}

#contact .form textarea,
#contact .form input {
    appearance: none;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid rgba(255, 124, 42, 0.9);
    border-left: 2px solid transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    caret-color: rgba(255, 124, 42, 0.9);
    width: 100%;
    padding: 1.25em 1em .25em;
    outline: 0px solid rgba(255, 124, 42, 0.9);
    grid-column: 1/-1;
    grid-row: 1 / -1;
    position: relative;
    transition: all .3s cubic-bezier(.5, .6, .5, .62);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 0;
}

#contact .form input,
#contact .form input::placeholder,
#contact .form textarea,
#contact .form textarea::placeholder {
    color: rgb(133, 123, 150);
}

#contact .form .sbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(33, 33, 33);
    z-index: 0;
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#contact .form .sbtn:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
}

#contact .from .sbtn:active {
    transform: scale(0.97);
}

#contact .form .sbtn .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#contact .form .sbtn .hoverEffect div {
    background: #ff382a;
    background: linear-gradient(90deg, #ff382a 0%, #f5a83d 100%);
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(10px);
    animation: rotate-img infinite 6s linear;
    opacity: 0.5;
}

#contact .from .sbtn:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
}

#footer p {
    padding: 10px 20px;
}


@media (max-width: 770px) {

    .logo {
        top: 46.5%;
        left: 57%;
    }

    .nav {
        padding: 20px 34px;
    }

    .nav .menu-btn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .nav .nav-links {
        width: 60%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -60%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px;
        padding-top: 80px;
        scale: 0.7;
        border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
        background: rgba(255, 255, 255, 0.5);
        /* background: rgb(255, 255, 255); */
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(10%, rgba(255, 255, 255, 0.3)), color-stop(65%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.3) 65%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.3) 65%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.5;
        -webkit-box-shadow: inset 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        box-shadow: inset 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-right: 0;
    }

    .nav .nav-links li a {
        color: #000;
        font-weight: 600;
        text-shadow: 0 0 20px rgba(31, 38, 135, 0.3);
    }

    #home {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    #home .hero-text {
        width: 100%;
        height: 85vh;
    }

    #home .hero-img {
        width: 100%;
        height: 50vh;
    }

    #home .hero-img img {
        width: auto;
        height: 90%;
    }

    #about {
        width: 100%;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #about .img {
        width: 100%;
        height: auto;
    }

    #about .img img {
        width: 50%;
        height: auto;
    }

    #about .info {
        width: 100%;
        height: auto;
        padding: 30px;
    }

    #work {
        padding: 2rem 1rem;
    }

    #contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    #contact .text {
        width: 100%;
        height: auto;
    }

    #contact .form {
        width: 100%;
        height: auto;
    }

}

@media (max-width: 430px) {
    .logo {
        left: 70%;
        top: 42.5%;
    }

    #home .hero-text .logo-space {
        font-size: 4rem;
    }

    #home .hero-img img {
        width: 70%;
        height: auto;
    }

    #about .img img {
        width: 100%;
    }

    #about .info .none {
        display: none;
    }

    #about .info p {
        font-size: 1rem;
        line-height: 0.8;
    }

    #work .title h1 {
        font-size: 3rem;
    }

    #work .pro .project {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
        flex: 1 0 300px;
    }

    #about .img .bg-color {
        height: 500px;
        width: 300px;
    }

    #contact .form {
        gap: 30px;
        padding: 2rem 0;
    }

    #contact .form textarea,
    #contact .form input {
        width: 100%;
    }

}