*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #080808;
    font-family: "Josefin Sans", sans-serif;
    color: #dadada;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.mouse-circul {
    height: 25px;
    width: 25px;
    background-color: #f5a83d;
    mix-blend-mode: difference;
    position: fixed;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    pointer-events: none;
    z-index: 1000;
}

.mouse-circul .arrow {
    display: none;
    rotate: 45deg;
}

.mouse-circul.arrow .arrow {
    display: flex;
}

.logo {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    scale: 2.5;
    font-weight: 800;
    position: fixed;
    left: 29%;
    top: 53.5%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    cursor: none;
    z-index: 10;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 64px;
    background: rgba(255, 255, 255, 0.1);
    background: linear-gradient(90deg, rgba(255, 56, 42, .4) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.25) 55%, rgba(245, 168, 61, .5) 100%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-top: none;
    border-radius: 0 0 20px 20px;
    z-index: 9;
}

.nav .nav-links {
    display: flex;
    gap: 30px;
    transition: all 1s ease-in-out;
    /* z-index: 3; */
}

.nav .nav-links.active {
    display: flex;
    right: 0;
    border-radius: 15px 0 0 15px;
    opacity: 1;
    scale: 1;
}

.nav .nav-links li {
    list-style: none;
}

.nav .nav-links li a {
    text-decoration: none;
    color: #dadada;
    font-weight: 300;
}

.nav .nav-links li a:hover {
    color: #f5a83d;
}

.nav .menu-btn {
    --button-color: #000;
    display: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    z-index: 1;
}

.nav .menu-btn .hamburger {
    transition: translate 1s, rotate 1s;
}

.nav .menu-btn[aria-expanded="true"] .hamburger {
    rotate: 0.125turn;
}

.nav .menu-btn .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}

.nav .menu-btn[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}

#home {
    width: 100%;
    height: 100vh;
    display: flex
}

#home .hero-text {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    font-size: 1.3rem;
    user-select: none;
}

#home .hero-text .logo-space {
    font-size: 6rem;
    color: transparent;
}

#home .hero-text .logo-space span {
    color: #dadada;
    font-size: 1.3rem;
}

#home .hero-text .bg-dotes {
    z-index: -1;
    position: absolute;
    height: 250px;
    width: 45%;
}

#home .hero-text .bg-dotes .red {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 0;
    top: 0;
    background-color: #ff382a;
    filter: blur(60px);
}

#home .hero-text .bg-dotes .yellow {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0;
    bottom: 0;
    background-color: #f5a83d;
    filter: blur(60px);
}

#home .hero-img {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .hero-img img {
    width: 75%;
    filter: drop-shadow(0 0 30px rgb(51, 10, 202));
    border-radius: 38%;
    animation: rotate-img 25s linear infinite;
}

@keyframes rotate-img {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

#skills {
    width: 100%;
    padding: 100px 0;
}

#skills .svgs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-left: none;
    border-right: none;
}

#skills h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

#skills .svgs .svg {
    height: 60px;
    cursor: none;
    transform: translateY(50px);
    scale: 0.7;
}

#about {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
}

#about .img {
    width: 40%;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#about .img img {
    height: 90%;
    border-radius: 20px;
    scale: 0.5;
    transform: translateY(100px);
}

#about .img .bg-color {
    position: absolute;
    height: 600px;
    width: 400px;
    z-index: -1;
}

#about .img .bg-color .red {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: #ff382a;
    filter: blur(60px);
}

#about .img .bg-color .yellow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background-color: #f5a83d;
    filter: blur(60px);
}

#about .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    width: 60%;
    height: 100%;
    gap: 15px;
}

#about .info p {
    font-size: 1.2rem;
    line-height: 0;
    font-weight: 300;
}

#about .info h2 {
    font-size: 2.8rem;
}

#work {
    width: 100%;
    margin-top: 60px;
    padding: 2rem 2rem;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

#work .title {
    height: 100%;
    width: 100%;
}

#work .title h1 {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#work .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    transition: all .5s ease-out;
}

#work .projects .project {
    flex: 1 0 250px;
    height: 300px;
    padding: 10px;
    display: flex;
    align-items: end;
    background-position: top left;
    background-size: 100%;
    border-radius: 10px;
    cursor: none;
    transition: all .7s ease-out;
}

#work .projects .project:hover {
    background-size: 120%;
}

#work .projects .project:nth-child(1) {
    background-image: url("img/project\ img/6.png");
}

#work .projects .project:nth-child(2) {
    background-image: url("img/project\ img/rock paper scissors.png");
    background-position: center center;
}

#work .projects .project.light h3 {
    color: #dadada;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#work .projects .project h3 {
    padding: 5px 10px;
    color: #000;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

.demo {
    height: 100vh;
    width: 100%;
}


@media (max-width: 770px) {

    .logo {
        top: 46.5%;
        left: 57%;
    }

    .nav {
        padding: 20px 34px;
    }

    .nav .menu-btn {
        display: inline-flex;
    }

    .nav .nav-links {
        width: 60%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -60%;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        gap: 40px;
        padding-top: 80px;
        scale: 0.7;
        border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
        background: rgba(255, 255, 255, 0.5);
        /* background: rgb(255, 255, 255); */
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.3) 65%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.5;
        box-shadow: inset 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-right: 0;
    }

    .nav .nav-links li a {
        color: #000;
        font-weight: 600;
        text-shadow: 0 0 20px rgba(31, 38, 135, 0.3);
    }

    #home {
        flex-direction: column;
        height: auto;
    }

    #home .hero-text {
        width: 100%;
        height: 85vh;
    }

    #home .hero-img {
        width: 100%;
        height: 50vh;
    }

    #home .hero-img img {
        width: auto;
        height: 90%;
    }

    #about {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    #about .img {
        width: 100%;
        height: auto;
    }

    #about .img img {
        width: 50%;
        height: auto;
    }

    #about .info {
        width: 100%;
        height: auto;
        padding: 30px;
    }

    #work {
        padding: 2rem 1rem;
    }

}

@media (max-width: 430px) {
    .logo {
        left: 70%;
        top: 42.5%;
    }

    #home .hero-text .logo-space {
        font-size: 4.8rem
    }

    #about .img img {
        width: 100%;
    }

    #about .info .none {
        display: none;
    }

    #about .info p {
        font-size: 1rem;
        line-height: 0.8;
    }

}


/* background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18); */